#nav-title {
    margin-right: 50px;
}

#tryAgain {
    display: none;
    margin-top: 10px;
}

#results {
    height: 100px;
}

.bg-primary {
    background-color: #0253a4 !important;
}

#nba-logo {
    height: 150px;
}

.full-container {
    margin-top: 50px;
}

.quiz-question {
    display: none;
    height: 150px;
}

.active {
    display: inline-block;
}