#nav-title {
    margin-right: 50px;
}

#tryAgain {
    display: none;
    margin-top: 10px;
}

#results {
    height: 100px;
}

.quiz-question {
    display: none;
    height: 200px;
}

.active {
    display: inline-block;
}