{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="mx-auto col-6 full-container">
        <form action="{% url 'quiz:team_quiz' %}" method="POST">
            {% csrf_token %}
            <div class="form-group text-center">
                <label for="quiz-team"><h1>Team Quiz</h1></label>
                <select class="form-control" id="quiz-team" name="quiz-team">
                {% for team in teams %}
                    <option value={{team.id}}>
                        {{ team.fullName }} 
                    </option>
                {% endfor %}
                </select>
                <br/>
                <input class="btn btn-primary" type="submit" value="Quiz!">
            </div>
        </form>
        <br />
        <form action="{% url 'quiz:player_quiz' %}" method="POST">
            {% csrf_token %}
            <div class="form-group text-center">
                <label for="quiz-player"><h1>Player Quiz</h1></label>
                <select class="form-control" id="quiz-player" name="quiz-player">
                {% for player in players %}
                    <option value={{player.id}}>{{ player.name }}</option>
                {% endfor %}
                </select>
                <br/>
                <input class="btn btn-primary" type="submit" value="Quiz!">
            </div>
        </form>
    </div>
</div>
{% endblock %}