<!DOCTYPE html>
<html lang="en">

  {% load static %}
  <head>
        <title>Khawiz Leonard</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="{% static 'quiz/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <img id="nba-logo" src="{% static 'images/nba-logo.jpg' %}" />
          <a class="navbar-brand" href="{% url 'quiz:index' %}" id="nav-title">
            <h1>Khawiz Leonard</h1><br/><h3>an NBA quiz site</h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div>
            <img id="kawhi-logo" src="{% static 'images/kawhi-logo2.png' %}">
          </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>