{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>{{team}} Quiz</h1><br/>
        <div id="quiz-container">
        {% for entry in questionList %}
        {% with question_num=forloop.counter %} 
            <div 
                id="question{{question_num}}" 
                class="mx-auto text-center quiz-question"
            >
                <h3>{{ entry.question }}</h1>
                <div class="container" id="quiz-answers">
                    {% for letter, answer in entry.answers.items %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question{{question_num}}" value="{{ letter }}" id="question{{question_num}} answer{{ letter }}">
                        <label class="form-check-label" for="question{{ question_num }} answer{{ letter }}">
                        {{ letter }}: {{ answer }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endwith %}
        {% endfor %}
        </div>
        <div id="buttons" class="mx-auto text-center">
            <button id="previous" class="btn btn-primary" disabled="true">Previous Question</button>
            <button id="next" class="btn btn-primary">Next Question</button>
            <button id="submit" class="btn btn-primary" disabled="true">Submit Quiz</button>
            <br/>
            <button onclick="window.location.href='{% url 'quiz:teamQuiz' %}'" id="tryAgain" class="btn btn-primary">Try Again!</button>
        </div>
    </div>
    
    <script>
        // define length of questions list
        // so it can be used in make_quiz.js
        var qListLength = parseInt("{{ questionList|length }}");
        var correctAnswers = {{ correct_answers|safe }};
    </script>
{% endblock %}


