{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>{{team}} Quiz</h1><br/>
    {% for entry in questionList %} 
        <div 
            id="question{{forloop.counter}}" 
            class="mx-auto text-center quiz-question"
        >
            <h3>{{ entry.question }}</h1>
            <div class="answers">
                <p>A: {{entry.answers.a}}</p>
                <p>B: {{entry.answers.b}}</p>
                <p>C: {{entry.answers.c}}</p>
            </div>
            <br/>
            Correct answer: {{entry.correctAnswer}}
        </div>
    {% endfor %}
        <div class="mx-auto text-center">
            <button id="previous" class="btn btn-primary" disabled="true">Previous Question</button>
            <button id="next" class="btn btn-primary">Next Question</button>
            <button id="submit" class="btn btn-primary" disabled="true">Submit Quiz</button>
        </div>
    </div>
    
    <script>
        // define the length of the questions list
        // so it can be used in make_quiz.js
        var qListLength = {{questionList|length}}
    </script>
{% endblock %}


